.container {
  text-align: center;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
  margin-top: 50px;
}

/* Style the heading */
h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

/* Style the label */
.category-label {
  display: block;
  font-size: 18px;
  color: #555;
  margin-bottom: 10px;
}

/* Style the select dropdown */
select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
}

/* Style the button */
button {margin: 10px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

/* Hover effect for the button */
button:hover {
  background-color: #0056b3;
}

/* Add some spacing at the bottom of the container */
.container {
  margin-bottom: 50px;
}
/* Style the outer container div */
.question-container {
border: 2px solid #ccc;
padding: 20px;
margin: 10px;
border-radius: 5px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
background-color: #f9f9f9;
}

/* Style the question */
.question {
font-size: 18px;
font-weight: bold;
margin-bottom: 10px;
}

/* Style the options */
.options {
display: flex;
justify-content: space-between;
}

label {
margin: 5px 0;
font-size: 16px;
}

input[type="radio"] {
margin-right: 5px;
}

/* Style the result div */
.ans-div {
margin-top: 20px;
font-weight: bold;
}
.red{
color: red;
}
.green{
color: green
;
}
.orange{
color: orange
;
}
.border-red{
border: 2px solid red;
padding: 20px;
margin: 10px;
border-radius: 5px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
background-color: #f9f9f9;
}
.border-green{
border: 2px solid green;
padding: 20px;
margin: 10px;
border-radius: 5px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
background-color: #f9f9f9;
}
.border-orange{
border: 2px solid orange;
padding: 20px;
margin: 10px;
border-radius: 5px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
background-color: #f9f9f9;
}